<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367767302410-iochgqetnqva7nerhacjvjoskk3mdnmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367767302410-iochgqetnqva7nerhacjvjoskk3mdnmu</string>
	<key>API_KEY</key>
	<string>AIzaSyBJzIJlJ-M0lWc6tEw4BqRGXN5WNWcw3Jk</string>
	<key>GCM_SENDER_ID</key>
	<string>367767302410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.CoinApp</string>
	<key>PROJECT_ID</key>
	<string>coin-app-6123f</string>
	<key>STORAGE_BUCKET</key>
	<string>coin-app-6123f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367767302410:ios:cd09d0c3d87d0e6e7c8af3</string>
</dict>
</plist>